@import "~react-datepicker/dist/react-datepicker.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Roboto', arial, sans-serif;
    background-color: #203A60;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}

form {
    width: 520px;
    background-color: #F7F7F7;
    padding: 30px 30px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 62px -2px rgba(0,0,0,0.75);
}

h1 {
    color: #203A60;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

input {
    margin-bottom: 15px;
    padding: 8px 0;
    color: #55595c;
    font-size: 15px;
    background-color: inherit;
    appearance: none;
    background-image: none;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #cdcdcd;
    width: 100%;
    &:focus {
        outline: 0;
        border-bottom-color: #FF9E3D;
    }
    &:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0px 9999px #F7F7F7;
        -webkit-text-fill-color: #55595c;
    }
}

input[type="submit"] {
    cursor: pointer;
    margin-top: 15px;
    border: none;
    border-radius: 0;
    background-color: #FF9E3D;
    color: #203A60;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    &:hover {
        background-color: darken(#FF9E3D, 10%);
    }
}